{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/structure.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/body.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/exception.css') }}" />
{% endblock %}

{% block body %}
    <h1>{{ data.nazwa_waluty }}</h1>
    <p>Kurs: {{ data.kurs_sredni }}</p>
    <p>Kod: {{ data.kod_waluty }}</p>

{% endblock %}